{% extends "Lapp/base.html" %}
{% block body_block %}

<style> h2 {text-align: center;} </style>

<div class="jumbotron " style="background-color:#d2e0d0;">
    <div class="container">
    <h2>FAQ</h2>
      <hr class="my-4"/>

    <h3>Does my child qualify for free meals?</h3>
    <h5>We don't have the answers yet.</h5>

    <h3>How do I sign up my child for free meals?</h3>
    <h5>We don't have the answers yet.</h5>

    <h3>Where/when do I pick up a meal?</h3>
    <h5>Find the pick up times and locations for your school <a class="navbar-link" href="{% url 'Lapp:schools_menu' %}">here</a>!</h5>

    </div>
</div>
{% endblock %}