{% extends 'Lapp/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Login here :</h1>
<form method="post" action="{% url 'Lapp:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
    <form>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" name="LoginButton" value="Login">
    </form>
    {% if invalid_user %}
    <h3 style="color:#ff0033">Invalid Login</h3>
    {% endif %}
</form>
</div>
  </div>
{% endblock %}