{% extends "Lapp/base.html" %}
{% block body_block %}

<!-- Formats the weekday calendar display -->
<style>
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.weekday {
    margin: 0;
    padding: 15px 0;
    background-color: #687E79;
    color: #eee;
}

.weekday li {
    display: inline-block;
    width: 19%;
    text-align: center;
    font-size:16px;
}

.meal {
    padding: 10px 0;
    background: #BBC9C8;
    margin: 0;
}

.meal li {
    list-style-type: none;
    display: inline-block;
    width: 19%;
    text-align: center;
    margin-bottom: 5px;
    font-size:14px;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekday li, .meal li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekday li, .meals li {width: 12.5%;}
    .meal li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekday li, .meal li {width: 12.2%;}
}
</style>

<style> h6 {text-align: center;} </style>

<body>

<div class="jumbotron " style="background-color:#d2e0d0;">
  <div class="container">
    <h5>{{ user.username }}, </h5>
      <h5> Here is this weeks information.</h5>
      <hr class="my-4"/>

      <h1>  </h1>
      <h2> Menu: </h2>

      <!-- Displays the days and meals for the given day -->
        <ul class="weekday">
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
        </ul>

        <ul class="meal">
            {% for menu in breakfast_ls %}
            <li><a href="{% url 'menu_page' menu.id %}">{{menu.name}}</a></li>
            {% endfor %}
            {% for menu in lunch_ls %}
            <li><a href="{% url 'menu_page' menu.id %}">{{menu.name}}</a></li>
            {% endfor %}
        </ul>


      <h2> Pickup Location: </h2>
      <h5> At {{ school.name }}. </h5>

      <h2> Pickup Time: </h2>
      <h5> Between {{ time_ls.0 }} to {{ time_ls.1}}</h5>

      <h2> Get Directions: </h2>
      <h5> <a href="https://www.google.com/maps/dir/?api=1&destination={{ school.name }}">{{ school.name }}</a> </h5>

      <h2> Receive E-mail Reminders: </h2>
      <h5><a href="{% url 'send_simple_email' user.email school.id %}"> Sign me up. </a></h5>

      <h1>  </h1>
      <h6> Not your school? Search for your school <a href="{% url 'Lapp:schools_menu' %}"> here</a>.</h6>

  </div>
</div>
</body>
{% endblock %}
