{% extends "Lapp/base.html" %}
{% block body_block %}

<div class="jumbotron " style="background-color:#d2e0d0;">
  <div class="container">
      <style>
          h2 {text-align: center;}
      </style>
      <h2>{{ menu }}</h2>
      <hr class="my-4"/>

      <h3>Main Dish</h3>
      <h4>{{ main.name }}</h4>
      <h5>Ingredients: {% for ingredient in main.ingredient_ls %} {{ ingredient }}, {% endfor %}</h5>
      {% if main.prep %}
      <h5>Preparation: {{ main.prep }} </h5>
      {% endif %}

      <h3>Sides</h3>
      {% for item in side_ls %}
      <h4>{{ item.name }}</h4>
      <h5>Ingredients: {% for ingredient in item.ingredient_ls %} {{ ingredient }}, {% endfor %}</h5>
      {% if main.prep %}
      <h5>Preparation: {{ main.prep }} </h5>
      {% endif %}
      {% endfor %}

      <h3>Drinks</h3>
      {% for item in drink_ls %}
      <h5>{{ item.name }}</h5>
      {% endfor %}



  </div>
</div>
{% endblock %}