{% extends "Lapp/base.html" %}
{% block body_block %}
<div class="jumbotron " style="background-color:#d2e0d0;">
    <div class="container">
        <style>
            h2 {text-align: center;}
        </style>
        <h2>Profile</h2>
        <hr class="my-4"/>
        <h4>Hello, {{ user.username }}</h4>

        {% if submitted %}


        {% else %}
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <h3>Please indicate any dietary restrictions:</h3>
            {{ dietary_form.as_p }}
            <input type="submit" name="ProfileButton" value="Submit">
        </form>
        {% endif %}

    </div>
</div>
{% endblock %}