{% extends "Lapp/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Select a School</h1>
      <h3>School One</h3>
      <h3>School Two</h3>
      <h3>School Three</h3>
      <h3>School Four</h3>
      <h3>School five</h3>

      <!-- <ul>
      Use as template to replace with school names
       {% for city in object_list %}
        <li>
          {{ city.name }}, {{ city.state }}
        </li>
      {% endfor %}
    </ul> -->

  </div>
</div>
{% endblock %}