{% extends "Lapp/base.html" %}
{% block body_block %}
<div class="jumbotron " style="background-color:#d2e0d0;">
  <div class="container">

     <style>
          h2 {text-align: center;}
      </style>
    <h2>Select a School</h2>
    <hr class="my-4"/>

      {% for school in school_ls %}
        <h5><a href="{% url 'menu' school.id %}">{{school.name}}</a></h5>
      {% endfor %}

      <!-- <ul>
      Use as template to replace with school names
       {% for city in object_list %}
        <li>
          {{ city.name }}, {{ city.state }}
        </li>
      {% endfor %}
    </ul> -->

  </div>
</div>
{% endblock %}